@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital@1&family=Noto+Sans:wght@500;600;800&display=swap');

*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
    background-color: rgba(40, 39, 42, 1);
    font-family: 'Noto Sans';
}

input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{color: #fff; text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}

[class*="__container"] {
    max-width: 1200px;
    margin: 0 auto;
  }

/*--------------HEADER-----------*/

.the_walchen_lake {
    background-image: linear-gradient(to top, rgba(40, 39, 42, 1) 0%, rgba(40, 39, 42, 0) 100%), url("img/walchen_lake.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.header_nav {
    height: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 360px;
    height: 90px;
    background: rgba(254, 226, 81, 1);
}

.logo > a {
    display: inline-block;
    padding: 30px 0 30px 55px;
    font-size: 26px;
    color: #000;
    font-weight: 800;
}

#open_nav {
    display: none;
}

#close_nav {
    display: none;
}

.nav_wrap {
    height: 100%;
    float: right;
    margin-right: 120px;
    display: flex;
    align-items: center;
    gap: 30px;
}

.nav_wrap > span {
    color: #fff;
}

.user {
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle {
    display: inline-block;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: #000;
    margin-left: 20px;
}

/*-------------MAIN---------------*/

.the_walchen_lake_wrapper {
    display: flex;
}

aside {
    width: 270px;
    height: 90vh;
    box-sizing: border-box;
    background: rgba(40, 39, 42, 0.642);
}

.main_nav {
    font-size: 20px;
}

.main_nav ul {
    padding: 80px 0 0 60px;
}

.main_nav ul li:not(:first-child) a {
    color: rgba(113, 115, 116, 1);
    transition: .3s;
}

.main_nav ul li:not(:first-child) a:hover {
    color: #fff;
    transition: .3s;
}

.main_nav ul li:not(:first-child) {
    margin-top: 50px;
}

.main_nav ul li:after {
    content: '';
    width: 100px;
    height: 2px;
    background: #fff;
    position: absolute;
    left: 170px;
    display: none;
}

.main_nav ul li:first-child:after {
    display: block;
    top: 180px;
}

.main_nav ul li:nth-child(2):after {
    top: 250px;
    left: 240px;
    width: 30px;
}

.main_nav ul li:nth-child(3):after {
    top: 320px;
}

.main_nav ul li:nth-child(4):after {
    top: 390px;
}

.main_nav ul li:last-child:after {
    top: 460px;
}

.main_nav ul li:hover:after {
    display: block;
}

.the_walchen_lake_text {
    margin: 200px 0 0 120px;
    max-width: 330px;
    color: #fff;
}

.the_walchen_lake_text h1 {
    display: inline-block;
    font-size: 50px;
    font-weight: 800;
}

.the_walchen_lake_text p {
    display: inline-block;
    margin-top: 50px;
    font-size: 16px;
    font-weight: 600;
    line-height: 1.5;
}

.button {
    background: rgba(254, 226, 81, 1);
    padding: 15px 40px;
    border-radius: 40px;
    font-size: 16px;
    font-weight: 800;
    line-height: 12;
    color: #000 !important;
    transition: .5s;
}

.button:hover {
    background: rgb(255, 213, 0);
}

.slider {
    margin-left: 390px;
    display: flex;
    align-items: center;
    gap: 20px;
}

.slider_button {
    display: inline-block;
    padding: 20px 20px 30px 20px;
    border-radius: 50%;
    font-size: 40px;
    line-height: 0;
}

.slide_name, .slide_num {
    color: #fff;
    font-weight: 600;
}

.line {
    display: inline-block;
    background: rgba(88, 88, 91, 1);
    height: 1px;
}

.line_long{
    width: 580px;
}

.line_short {
    width: 30px;
}

/*---------------------------*/

.featured_spots {
    margin-top: 100px;
}

.featured_spots_wrapper {
    display: flex;
    gap: 120px;
}

.featured_spots_text {
    max-width: 180px;
    color: #fff;
    text-align: right;
}

.featured_spots_text h2 {
    font-weight: 600;
    font-size: 30px;
    line-height: 1.2;
}

.featured_spots_text p {
    font-weight: 600;
    font-size: 16px;
    line-height: 1.8;
    margin-top: 30px;
}

.view_all_line {
    background: #fff;
    width: 90px;
}

.view_all {
    font-weight: 600;
}

.view_all, .view_all_line {
    margin-top: 125px;
}

.featured_spots_items {
    display: flex;
    gap: 50px;
    margin-top: 80px;
}

.featured_spots_item {
    max-width: 270px;
    color: #fff;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.featured_spots_img {
    max-width: 270px;
}

.item_title h2 {
    font-size: 26px;
    font-weight: 800;
}

.item_title h3 {
    font-size: 20px;
    font-weight: 800;
    color: rgba(102, 102, 104, 1);
    line-height: 1.5;
}

.featured_spots_item a {
    color: rgba(241, 222, 132, 1);
    font-weight: 600;
}

.featured_slider {
    margin: 60px 0 0 288px;
}

.featured_line {
    width: 670px;
}

/*--------------------------*/

.above {
    margin-top: 160px;
}

.above_wrapper {
    display: flex;
    gap: 120px;
}

.above_img {
    max-width: 600px;
}

.above_text {
    color: #fff;
    max-width: 460px;
    max-height: 460px;
}

.above_text h2 {
    font-size: 60px;
    font-weight: 800;
}

.above_text span {
    display: inline-block;
    font-family: 'Libre Baskerville';
    font-size: 20px;
    line-height: 2;
    margin-top: 30px;
}

.above_text p {
    line-height: 1.3;
}

/*---------------------------*/

.editors {
    margin-top: 230px;
}

.editors_wrapper {
    display: flex;
    align-items: start;
    gap: 120px;
}

.editors_text {
    margin-top: 50px;
    max-width: 180px;
    color: #fff;
    text-align: right;
}

.editors_text h2 {
    font-weight: 600;
    font-size: 30px;
    line-height: 1.2;
}

.editors_text p {
    font-weight: 600;
    font-size: 16px;
    line-height: 1.8;
    margin-top: 30px;
}

.editors_line_long {
    width: 500px;
}

.slider_editors {
    margin-left: 0;
    margin-bottom: 110px;
}

.slider_sort {
    display: inline-block;
    color: #fff;
    font-weight: 600;
    position: relative;
}

.slider_sort::after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 8px solid #fff;
    top: 4px;
    left: 50px;
}

.editors_items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.flatiron {
    background-image: url("img/editors1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 600px;
    height: 600px;
    position: relative;
}

.flatiron_text {
    position: absolute;
    width: 100%;
    height: 30%;
    background: #00000056;
    bottom: 0;
    color: #fff;
    padding: 30px;
}

.flatiron_text > p {
    font-weight: 400;
    line-height: 1.5;
    width: 80%;
    margin-top: 10px;
}

.editors_item_group1 {
    max-width: 270px;
    display: flex;
    flex-direction: column;
    gap: 60px;
}

.editors2, .editors3, .editors4 {
    max-width: 270px;
}

.editors5 {
    max-width: 595px;
}

.editors_item_group2 {
    margin-top: 50px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

/*------------------------------*/

.mountain {
    background-image: linear-gradient(to top, rgba(40, 39, 42, 1) 0%, rgba(40, 39, 42, 0) 100%), linear-gradient(to bottom, rgba(40, 39, 42, 1) 0%, rgba(40, 39, 42, 0) 100%), url("img/mountain.jfif");
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 200px;
}

.mountain__container {
    padding-left: 160px;
}

.mountain_text, .mountain_item_text {
    color: #fff;
}

.mountain_text h2 {
    display: inline-block;
    font-size: 60px;
    font-weight: 800;
}

.mountain_text p {
    display: block;
    margin-top: 50px;
    font-size: 16px;
    font-weight: 600;
    line-height: 1.8;
    max-width: 360px;
}

.mountain_items {
    margin-top: 120px;
}

.mountain_item {
    display: flex;
    justify-content: space-between;
}

.mountain_item_text h2 {
    display: inline-block;
    font-size: 40px;
    font-weight: 800;
}

.mountain_item_text p {
    display: block;
    margin-top: 50px;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.8;
    max-width: 590px;
}

.mountain_img {
    max-width: 370px;
    max-height: 370px;
}

.mountain_line {
    background: rgba(116, 103, 95, 1);
    height: 1px;
    max-width: 100%;
}

.mountain_item:not(:first-child) {
    margin-top: 50px;
}

/*---------------------------*/

.subscribe {
    margin-top: 120px;
}

.subscribe_wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 100px;
}

.subscribe_text {
    color: #fff;
}

.subscribe_input {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.subscribe_button {
    line-height: 1;
}

input {
    width: 50%;
    padding: 14px;
    border-radius: 50px;
    font-family: 'Noto Sans';
    font-weight: 400;
    font-size: 16px;
}

input::placeholder {
    font-family: 'Noto Sans';
    font-weight: 800;
    font-size: 16px;
    color: #000;
}

/*--------FOOTER----------*/

footer {
    margin-top: 150px;
}

.footer_wrapper {
    background: rgba(254, 226, 81, 1);
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 125px 0 57px;
}

.footer_logo > a {
    font-size: 26px;
    color: #000;
    font-weight: 800;
}

.copyright {
    font-weight: 800;
}

.icons {
    display: flex;
    gap: 25px;
}

.footer_img {
    max-width: 25px;
}

/*--------ADAPTIVE----------*/

@media (max-width: 1350px) {
    .line_long, .editors_line_long {
        width: 420px;
    }
}

@media (max-width: 1200px) {
    .line_long, .editors_line_long {
        width: 300px;
    }

    .lake_line {
        width: 200px;
    }

    .featured_spots_item {
        max-width: 190px;
    }

    .item_title > h2 {
        font-size: 20px;
    }

    .item_title > h3 {
        font-size: 16px;
    }

    .above_img {
        width: 400px;
    }

    .above_text > h2 {
        font-size: 40px;
    }

    .above_text > span {
        font-size: 16px;
    }

    .flatiron {
        width: 400px;
        height: 400px;
    }

    .flatiron_text {
        height: 50%;
    }

    .editors2, .editors3, .editors4 {
        width: 170px;
    }

    .editors5 {
        width: 400px;
    }

    .editors_items {
        justify-content: space-around;
    }

    .editors_item_group2 {
        justify-content: space-around;
    }

    .mountain_item_text > p {
        font-size: 14px;
    }

    .mountain_items {
        padding-right: 20px;
    }
}

@media (max-width: 1000px) {

    .nav_wrap {
        margin-right: 50px;
    }

    .line_long, .editors_line_long {
        width: 300px;
    }

    .lake_line {
        width: 30px;
    }

    .slider_button {
        padding: 15px 15px 25px 15px;
    }

    .slide_name, .slide_num {
        font-size: 10px;
    }

    .featured_spots_items {
        flex-wrap: wrap;
    }

    .featured_spots_item {
        max-width: 190px;
    }

    .item_title > h2 {
        font-size: 20px;
    }

    .item_title > h3 {
        font-size: 16px;
    }

    .above_img {
        width: 400px;
    }

    .above_text > h2 {
        font-size: 40px;
    }

    .above_text > span {
        font-size: 12px;
    }

    .above_text p {
        font-size: 10px;
    }

    .flatiron {
        width: 400px;
        height: 400px;
    }

    .flatiron_text {
        height: 50%;
    }

    .editors_line_long {
        width: 120px;
    }

    .editors2, .editors3, .editors4 {
        width: 100%;
    }

    .editors5 {
        width: 400px;
    }

    .editors_items {
        flex-direction: column;
        align-items: center;
    }

    .editors_item_group1 {
        margin-top: 60px;
    }

    .editors_item_group2 {
        gap: 60px;
    }

    .mountain_text h2 {
        font-size: 40px;
    }

    .mountain_item_text {
        margin-top: 20px;
    }

    .mountain_item_text > p {
        font-size: 14px;
        margin-top: 20px;
    }

    .mountain_items {
        padding-right: 20px;
    }

    .mountain_item {
        flex-wrap: wrap-reverse;
    }
}

@media (max-width: 767px) {
    .logo {
        width: 200px;
    }

    aside {
        width: 200px;
        position: absolute;
        background-color: rgba(40, 39, 42, 0.5);
        left: -200px;
        transition: 1s;
    }

    #open_nav {
        display: block;
        position: absolute;
        width: 50px;
        height: 50px;
        font-size: 25px;
    }

    #close_nav {
        display: block;
        float: right;
        padding: 5px 10px;
        background: none;
        font-size: 20px;

        color: #fff;
    }

    .main_nav {
        font-size: 16px;
    }

    .main_nav ul {
        padding: 60px 0 0 30px;
    }

    .main_nav ul li:hover:after {
        display: none;
    }

    .main_nav ul li:after {
        display: none;
    }

    .main_nav ul li:first-child:after {
        display: none;
        top: 180px;
    }
    
    .slider {
        margin-left: 100px;
        gap: 10px;
    }

    .nav_wrap {
        margin-right: 10px;
        gap: 10px;
    }

    .line_long, .editors_line_long {
        width: 100px;
    }

    .lake_line {
        width: 100px;
    }

    .featured_spots_wrapper {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .featured_spots_items {
        flex-direction: column;
        align-items: center;
        margin-top: 20px;
    }

    .featured_spots_item {
        max-width: 190px;
    }

    .item_title > h2 {
        font-size: 20px;
    }

    .item_title > h3 {
        font-size: 16px;
    }

    .above_wrapper {
        flex-direction: column;
    }

    .above_img {
        width: 400px;
    }

    .above_text {
        padding-left: 20px;
    }

    .above_text > h2 {
        font-size: 40px;
    }

    .above_text > span {
        font-size: 12px;
    }

    .above_text p {
        font-size: 10px;
    }

    .flatiron {
        width: 200px;
        height: 200px;
    }

    .flatiron_text {
        height: 50%;
        padding: 10px;
    }

    .flatiron_text p {
        display: none;
    }

    .editors_wrapper {
        flex-direction: column;
        align-items: center;
    }

    .editors_line_long {
        width: 30px;
    }

    .editors2, .editors3, .editors4 {
        width: 200px;
    }

    .editors5 {
        width: 200px;
    }

    .editors_items {
        flex-direction: column;
        align-items: center;
    }

    .editors_item_group1 {
        flex-direction: column;
        margin-top: 60px;
    }

    .editors_item_group2 {
        flex-direction: column;
        gap: 60px;
    }

    .slider_editors {
        margin-left: 0;
    }

    .slider_sort {
        display: none;
    }

    .slider_editors > .line_short:last-child {
        display: none;
    }

    .mountain_text h2 {
        font-size: 40px;
    }

    .mountain_item_text {
        margin-top: 20px;
    }

    .mountain_item_text > p {
        font-size: 14px;
        margin-top: 20px;
    }

    .mountain_items {
        padding-right: 20px;
    }

    .mountain_item {
        flex-wrap: wrap-reverse;
    }

    .mountain_img {
        width: 200px;
    }

    .mountain__container {
        padding-left: 20px;
    }

    .footer_wrapper {
        padding: 0 20px 0 10px;
    }
}

@media (max-width: 500px) {
    .logo {
        width: 200px;
    }

    .logo > a {
        padding: 30px 0 30px 30px;
    }

    .circle {
        display: none;
    }

    aside {
        width: 200px;
        position: absolute;
        background-color: rgba(40, 39, 42, 1);
        left: -200px;
        transition: 1s;
    }

    #open_nav {
        display: block;
        position: absolute;
        width: 50px;
        height: 50px;
        font-size: 25px;
    }

    #close_nav {
        display: block;
        float: right;
        padding: 5px 10px;
        background: none;
        font-size: 20px;
        border: 2px solid white;
        color: #fff;
    }

    .main_nav {
        font-size: 16px;
    }

    .main_nav ul {
        padding: 60px 0 0 30px;
    }

    .main_nav ul li:after {
        display: none;
    }

    .main_nav ul li:first-child:after {
        display: none;
        top: 180px;
    }

    .the_walchen_lake_text {
        margin: 0;
        padding: 60px 5px 0 5px;
    }
    
    .slider {
        margin-left: 100px;
        gap: 10px;
    }

    .slide_name {
        display: none;
    }

    .line_long, .line_short {
        display: none;
    }

    .nav_wrap {
        flex-direction: column;
        text-align: center;
        margin: 5px 10px 0 0;

        justify-content: center;
        align-items: center;
    }

    .line_long, .editors_line_long {
        width: 100px;
    }

    .lake_line {
        width: 100px;
    }

    .featured_spots_wrapper {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .featured_spots_items {
        flex-direction: column;
        align-items: center;
        margin-top: 20px;
    }

    .featured_spots_item {
        max-width: 190px;
    }

    .item_title > h2 {
        font-size: 20px;
    }

    .item_title > h3 {
        font-size: 16px;
    }

    .above_wrapper {
        flex-direction: column;
        gap: 50px;
    }

    .above_img {
        width: 200px;
    }

    .above_text {
        padding-left: 20px;
        padding-right: 20px;
    }

    .above_text > h2 {
        font-size: 40px;
    }

    .above_text > span {
        font-size: 12px;
    }

    .above_text p {
        font-size: 10px;
    }

    .flatiron {
        width: 200px;
        height: 200px;
    }

    .flatiron_text {
        height: 50%;
        padding: 10px;
    }

    .flatiron_text p {
        display: none;
    }

    .editors_wrapper {
        flex-direction: column;
        align-items: center;
        gap: 50px;
    }

    .editors_line_long {
        width: 30px;
    }

    .editors2, .editors3, .editors4 {
        width: 200px;
    }

    .editors5 {
        width: 200px;
    }

    .editors_items {
        flex-direction: column;
        align-items: center;
    }

    .editors_item_group1 {
        flex-direction: column;
        margin-top: 60px;
    }

    .editors_item_group2 {
        flex-direction: column;
        gap: 60px;
    }

    .slider_editors {
        margin-left: 0;
    }

    .slider_sort {
        display: none;
    }

    .slider_editors > .line_short:last-child {
        display: none;
    }

    .mountain_text h2 {
        font-size: 40px;
    }

    .mountain_item_text {
        margin-top: 20px;
    }

    .mountain_item_text > p {
        font-size: 14px;
        margin-top: 20px;
    }

    .mountain_items {
        padding-right: 20px;
    }

    .mountain_item {
        flex-wrap: wrap-reverse;
    }

    .mountain_img {
        width: 200px;
    }

    .mountain__container {
        padding-left: 20px;
    }

    .subscribe_input {
        flex-direction: column;
        padding: 0 5px 0 5px;
    }

    input {
        width: 100%;
    }

    .footer_wrapper {
        padding: 0 5px 0 5px;
    }

    .footer_logo > a {
        font-size: 15px;
    }

    .copyright {
        font-size: 10px;
    }

    .icons {
        gap: 10px;
    }
}